.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #fdfdfd;
  box-shadow: 0 0 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  @media screen and (max-width: 620px) {
    width: 90%;
  }
}

.selected {
  background-color: #a6c4ff;
}

.textSelected {
  color: #fdfdfd;
}
