.container {
  min-height: 100vh;
}

.image {
  width: 100%;
  background-image: url('../../assets/cows.jpg');
  background-position: center;
  filter: grayscale(80%);
  min-height: 400px;
  background-repeat: no-repeat;
}
