.container {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcfcfc;
  height: 7vh;
  padding: 15px 0;
  box-shadow: rgb(16 82 133 / 15%) 0 0 10px;
}

.link {
  padding: 0 2em;
  text-decoration: none;
  color: #000;
  &:hover {
    color: #005cc5;
  }
}
